#app-container {
    display: flex;
    justify-content: space-around;
}

#player-info {
    width: 40vw;
    height: 20vh;
    border: 1px solid black;
    position: absolute;
    top: 10%;
}

.hidden {
    display: none;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
    cursor: not-allowed;
}

.ship {
    background-color: lightgray;
}

.miss {
    background-color: brown;
}